{% load humanize %}
<div class="card bg-gray-900 shadow-xl text-center rounded-lg">
    <figure class="overflow-hidden rounded-lg h-64 flex items-center justify-center">
        <img src="{{ product.get_thumbnail }}" alt="{{ product.name }}" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-105"/>
    </figure>
    <div class="card-body text-white p-4">
        <h3 class="card-title font-bold text-lg mb-2 text-gray-200">{{ product.name }}</h3>
        <p class="text-green-500 text-lg font-semibold inline">
            {{ product.price|intcomma }}
        </p>
        <span class="text-gray-300 text-lg font-semibold"> تومان</span>

        <div class="flex justify-between items-center mt-4">
            <!-- Add to Cart Button with SVG only -->
            <a 
                href="#" 
                hx-get="{% url 'add_to_cart' product.id %}"
                hx-target="#menu-cart-button"
                hx-swap="outerHTML"
                class="flex items-center justify-center text-white w-1/2 py-3 transition-colors duration-300 ease-in-out transform hover:scale-105 group relative">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mx-auto group-hover:text-green-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                </svg>
                <span class="absolute left-1/2 transform -translate-x-1/2 bottom-full mb-2 hidden group-hover:block bg-gray-800 text-white text-xs rounded py-1 px-2">
                    افزودن به سبد خرید
                </span>
            </a>

            <!-- Details Button with Information Icon -->
            <a href="{% url 'product' product.slug %}" 
               class="flex items-center justify-center text-white w-1/2 py-3 transition-colors duration-300 ease-in-out transform hover:scale-105 group relative">
               <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mx-auto group-hover:text-blue-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h1m0-4h-1m6 12H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v12a2 2 0 01-2 2z" />
               </svg>
               <span class="absolute left-1/2 transform -translate-x-1/2 bottom-full mb-2 hidden group-hover:block bg-gray-800 text-white text-xs rounded py-1 px-2">
                   مشاهده جزئیات
               </span>
            </a>
        </div>
    </div>
</div>