<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Persian Font Link -->
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@latest/dist/font-face.css" rel="stylesheet" type="text/css" />

    <!-- Tailwind CDN with RTL and DaisyUI support -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ['Vazir', 'ui-sans-serif', 'system-ui'],
            },
          },
        },
        plugins: [require('daisyui'), tailwindcssRTL()],
        daisyui: {
          themes: ["dark"],
        },
      }
    </script>

    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/favicon.ico' %}" />
    <title>{% block title %}{% endblock %} | PyroStyle</title>
  </head>

  <body class="bg-neutral flex flex-col h-screen text-white font-sans">
    <!-- Navbar -->
    {% include 'core/navbar.html' %}

    <!-- Main Content -->
    <main class="mb-auto">{% block content %} {% endblock %}</main>

    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    {% block scripts %} {% endblock %}

    <!-- Footer -->
    {% include 'core/footer.html' %}
  </body>
</html>
