{% extends 'core/base.html' %}

{% block title %}My account{% endblock %}

{% block content %}
{% load humanize %}
<div class="flex flex-col items-center mx-auto p-6 bg-gray-800 min-h-screen text-right" style="direction: rtl;">
    <h1 class="max-w-6xl mb-5 text-3xl text-blue-300">حساب من</h1>

    <div class="w-full max-w-6xl mb-10 bg-gray-900 rounded-lg p-6 shadow-lg">
        <strong class="text-gray-200">نام: </strong><span class="text-gray-400">{{ request.user.get_full_name }}</span><br>
        <strong class="text-gray-200">نام کاربری: </strong><span class="text-gray-400">{{ request.user.username }}</span><br>
        <strong class="text-gray-200">ایمیل: </strong><span class="text-gray-400">{{ request.user.email }}</span><br>

        <a href="{% url 'edit_myaccount' %}" class="inline-block mt-4 py-4 px-6 rounded-lg bg-blue-500 hover:bg-blue-600 text-white">ویرایش</a>
    </div>

    <hr class="w-full max-w-6xl border-gray-700 mb-8" />

    <h2 class="my-6 text-xl text-blue-300">سفارش‌های من</h2>
    {% for order in request.user.orders.all %}
    <div class="w-full max-w-6xl mb-8 p-6 bg-gray-900 rounded-lg shadow-lg">
        
        <div class="mb-6 w-full">
            {% for item in order.items.all %}
                <div class="product mb-6 flex items-center pr-6 space-x-reverse space-x-4">
                    <!-- Consistent Thumbnail Size -->
                    <a href="{% url 'product' item.product.slug %}" class="w-24 h-24 flex-shrink-0">
                        <img src="{{ item.product.get_thumbnail }}" class="hover:shadow-lg rounded-lg object-cover w-full h-full">
                    </a>

                    <div class="flex-1 pl-6">
                        <div class="flex justify-between">
                            <a href="{% url 'product' item.product.slug %}" class="text-lg text-gray-300">{{ item.product.name }}</a>
                            <div class="text-gray-400">تعداد: x{{ item.quantity }}</div>
                        </div>
                        <p class="text-gray-500">قیمت: {{ item.get_total_price|intcomma }} تومان</p>
                        <hr class="my-6 border-0 h-0.5 bg-gradient-to-r from-blue-500 via-purple-600 to-pink-500 rounded-lg shadow-md">
                    </div>
                </div>
            {% endfor %}
        </div>

        
        <div class="mb-4 p-6">
            <p class="text-white font-semibold">شماره سفارش:  <span class="text-blue-400">{{ order.id }}</span></p>
            <p class="font-semibold tex-white">وضعیت سفارش:
                <span class="text-green-500 font-bold"> {{ order.status }}</span>
            </p>
            <p class="text-lg text-white font-semibold">تاریخ: <span class="text-blue-200">{{ order.created_at }}</span></p>
            <p class="text-lg text-white font-semibold">مجموع: <span class="text-blue-300">{{ order.get_total_price }} تومان</span></p>
        </div>
        

           
        
    </div>
{% endfor %}

    
</div>
{% endblock %}
