{% extends 'core/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
{% load humanize %}
<div class="min-h-screen flex justify-center items-center bg-gray-800">
    <div class="max-w-6xl w-full flex flex-wrap py-8 px-6 lg:px-0">
        
        <!-- Product Image Section with Fixed Size -->
        <div class="w-full lg:w-3/5 mb-6 lg:mb-0">
            <div class="w-full h-96 overflow-hidden rounded-xl">
                <img 
                    class="w-full h-full object-cover" 
                    src="{% if product.image %}{{ product.image.url }}{% else %}https://via.placeholder.com/240x240.jpg{% endif %}" 
                    alt="{{ product.name }}"
                >
            </div>
        </div>

        <!-- Product Information Section -->
        <div class="w-full lg:w-2/5 lg:p-6">
            <h1 class="text-3xl font-bold text-blue-400 mb-2">{{ product.name }}</h1>
            <p class="text-xl font-semibold text-green-500 mb-4">تومان{{ product.price_display|intcomma }}</p>

            {% if product.get_rating > 0 %}
                <p class="text-gray-400 mb-2">امتیاز: {{ product.get_rating }} / 10</p>
            {% endif %}

            {% if product.description %}
                <p class="text-gray-300 mt-4 mb-6 text-right leading-6">
                    {{ product.description }}
                </p>
            {% endif %}

            <a 
                href="#" 
                class="mt-6 inline-block px-8 py-4 rounded-xl bg-blue-500 text-white hover:bg-blue-700 transition"
                hx-get="{% url 'add_to_cart' product.id %}"
                hx-target="#menu-cart-button"
                hx-swap="outerHTML"
            >
                افزودن به سبد خرید
            </a>
        </div>

        <!-- Reviews Section -->
        <div id="reviews" class="w-full mt-8">
            <h2 class="text-2xl text-blue-400 font-semibold mb-4">نظرات</h2>
            {% if request.user.is_authenticated %}
                {% if not already_reviewed %}
                <!-- Review Form for Logged-In Users -->
                <form method="post" action="." class="mt-4 p-4 bg-gray-900 rounded-lg shadow">
                    {% csrf_token %}

                    <div class="mb-4">
                        <label class="block text-gray-400 mb-1">امتیاز:</label>
                        <select name="rating" class="w-full bg-gray-800 border border-gray-700 text-white rounded-md p-2">
                            {% for i in rating_range %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-4">
                        <label class="block text-gray-400 mb-1">نظر:</label>
                        <textarea name="content" rows="3" class="w-full bg-gray-800 border border-gray-700 text-white rounded-md p-2"></textarea>
                    </div>

                    <div class="text-center">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-md transition">ثبت نظر</button>
                    </div>
                </form>
                {% endif %}
            {% else %}
                <!-- Sign-In Prompt for Non-Authenticated Users -->
                <p class="text-gray-400 text-center mt-4">
                    برای ثبت نظر، لطفاً 
                    <a href="{% url 'login' %}?next={{ request.path }}#reviews" class="text-blue-400 hover:underline">
                        وارد شوید
                    </a>.
                </p>
            {% endif %}

            <!-- Review section for all Users -->
            <div class="p-4 bg-gray-900 rounded-lg mb-4 shadow-md">
            {% for review in product.reviews.all %}
                <div class="mb-4">
                    <p class="text-xs text-gray-500 mb-2">تاریخ: {{ review.created_at|date:"Y/m/d" }}</p>
                    <div class="flex justify-between items-center mb-2">
                        <p class="text-sm text-gray-300"><span class="text-white font-medium">{{ review.created_by }}</span></p>
                        <p class="text-sm text-yellow-400">امتیاز: {{ review.rating }}/10</p>
                    </div>
                    <p class="text-gray-200 text-center">{{ review.content }}</p>
                    <!-- Horizontal line to separate reviews -->
                    <hr class="my-6 border-0 h-1 bg-gradient-to-r from-blue-500 via-purple-600 to-pink-500 rounded-lg shadow-md">
                </div>
            {% endfor %}
            </div>
        </div>
        <!-- END of the Review section for all Users -->
    </div>
</div>
{% endblock %}
