<a href="{% url 'cart' %}" id="menu-cart-button" class="relative group flex items-center justify-center">
    <svg class="h-6 w-6 text-gray-800 dark:text-gray-300 group-hover:text-blue-900 dark:group-hover:text-blue-300 transition-all duration-300 transform group-hover:scale-110" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
      <path d="M8 22a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      <path d="M19 22a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
    </svg>
    <span class="absolute -top-2 -right-2 flex items-center justify-center h-5 w-5 bg-gradient-to-r from-blue-500 to-indigo-600 text-white text-xs font-medium rounded-full transform transition-all duration-300 group-hover:scale-110">{{ cart|length }}</span>
  </a>